body{
 font-size: 18pt;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 background-color: white;
 margin: auto;
}
.about-me{

}
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

.ul:hover{
   box-shadow: 10px 10px 10px 10px gainsboro;
    border-radius: 13px;
    width: 300px;
}
.ul {
    height: 260px;
    width: 300px;
    margin: auto;
}
#hi{ 
    height: 160px;
}
#hii {
    height: 115px;
}
section {
    height: 260px;
    width: 370px;
    box-shadow: 10px 10px 10px 10px gainsboro;
    border-radius: 13px;
    word-spacing: 7pt;
}
.end {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 700pt;
    margin: auto;
}
hr{
    height: 5px;
    opacity: 0.0;
}